.fondo{
  /*background-image: url('/fondos/fo4.jpg');*/
  background-attachment: fixed;
  background-color: #031841;
  background-size: 100% 100%;
    /* dimensiona la imagen 20px de ancho y 40px de altura */
  background-repeat: no-repeat;
}

.p{
  font-family:'Courier New', Courier, monospace;
  color: #fff; 
}


/*Educacion*/
.texto-ed{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.ed-container{
 text-align: center;
}
